<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.projectx.graduation.projectx"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".TopLayar.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="cd3dcd6438a7702f960913f23e8d9c8ec016e54d"/>

        <activity
            android:name=".TopLayar.UI.activity.CollectUserInfo"
            android:label="@string/title_activity_collect_user_info"
            android:parentActivityName=".TopLayar.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TopLayar.MainActivity"/>
        </activity>
        <activity
            android:name=".TopLayar.UI.activity.HomeActivity"
            android:label="@string/title_activity_home"
            android:parentActivityName=".TopLayar.UI.activity.CollectUserInfo"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TopLayar.UI.activity.CollectUserInfo"/>
        </activity>

        <service
            android:name=".TopLayar.Services.FetchApplications"
            android:exported="false"/>

        <activity android:name=".TopLayar.UI.activity.TestAPIActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>